@charset 'utf-8';

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);


.toolbar {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    background-color: mediumseagreen;
    
    margin: 0;
    padding: 0;
}

.nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-ul > li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}